body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: linear-gradient(-45deg, lightblue, pink);
    background-size: 100%;
    background-attachment: fixed;
}
img{
    width: 100%;
}
.navbar{
    background: linear-gradient(-45deg, pink, #2C3E50);
    box-shadow: 0px 2px 3px black;
}
.navbar-brand img{
    width: 80px;
}
.nav-item:hover {
    background: linear-gradient(-45deg, lightblue, pink);
    border-radius: 4px;
}
#carouselExampleIndicators{
    margin-top: 64px;
    box-shadow: 0px 2px 3px black;

}
.judul{
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    color: #2C3E50;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    box-shadow: 0px 2px 3px white;
}
.img1{
    border-radius: 4px;
    margin-top: 5px;
}
.img1:hover {
    box-shadow: 0px 2px 3px black;

    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
}
.link{
    text-align: center;
}
.tabell{
    border: 2px solid #2C3E50;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px black;
}
.paragraf{
    padding: 10px;
    color: white;
    background: linear-gradient(-45deg, pink, #2C3E50);
    border: 2px solid #2C3E50;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px black;

} 
#komentar {
    background-color: transparent;
    color: #2C3E50;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 2px 3px black;
}

#tabelkomentar,
#tabelemail {
    background: transparent;
    width: 100%;
    border: 1px solid white;
}

#submit {
    border: 1px solid white;
    border-radius: 2px;
    display: block;
    margin-top: 3px;
    margin-right: auto;
    margin-left: auto;
    color:  #2C3E50;
    background: transparent;
    box-shadow: 0px 2px 3px white;
}
#submit:hover{
    box-shadow: 0px 2px 3px black;
}
hr{
    width: 100%;
    color:#2C3E50;
    border: 1px #2C3E50 solid;
}
.footer {
    color: white;
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
    background: linear-gradient(-45deg, pink, #2C3E50);
}
.col-12{
    text-align: center;
}
#tab{
    background-color: transparent;
    padding:10px 30px 0 30px;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 2px 3px black;
}
#footerimage{
    width: 17%;
}
.imgFooter:hover {
    opacity: 0.5;
}
.footer .imgS {
    width: 30px;
}
.col-12 h4{
    text-align: center;
}

.judul .tooltiptext {
  visibility: hidden;
  font-size: 10pt;
  width: 120px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  color: white;
}
.judul:hover{
    box-shadow: 0px 2px 3px black; 
}

.judul:hover .tooltiptext {
  visibility: visible;
}
.judul .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
#bergerak{
    border: 2px solid  #2C3E50;
    font-size: 10pt; 
    font-weigth: bold;
    letter-spacing: 0.5em;
    padding: 5px 10px;
    margin-top: 15px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 2px 3px black;
}

#wa:hover {
    background: red;
    border: 1.5px solid transparent;
    padding: 5px;
}
#fb:hover{
    background: orange;
    border: 1.5px solid transparent;
    padding: 5px;  
}
#twt:hover{
    background: yellow;
    border: 1.5px solid transparent;
    padding: 5px;  
}
#ig:hover{
    background: green;
    border: 1.5px solid transparent;
    padding: 5px;  
}